.res-field{
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 0;
}

.list-item{
    padding: 8px 16px;
    background-color: #e27beb;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
    border: solid;
    border-top-color: #e27beb;
}


.list-item:first-child{
    border-top-color: #000;
}

.list-item-text{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.list-item-text__par{
    margin: 0;
    font-size: 24px;
}
@media (max-width: 660px){
    .list-item-text__par{
        font-size: 18px;
    }
}
.list-item-close-btn{
    width: 45px;
    height: 45px;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
}
.list-item-close-btn__line{
    background-color: red;
    width: 4px;
    height: 45px;

}
@media (max-width: 660px){
    .list-item-close-btn{
        width: 38px;
        height: 38px;

    }
    .list-item-close-btn__line{

        height: 38px;
    
    }
}

.list-item-close-btn__line:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    left: 50%;
}
.list-item-close-btn__line:nth-child(2){
    transform: rotate(-45deg);
    position: relative;
    left: 50%;
    bottom: 100%;
}